@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

:root {
    font-family: Sora, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: whitesmoke;
    background-color: #1d2228;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    display: flex;
    justify-content: center;
}

.afterCamInit {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 100%;
    width: 100%;
}

.beforeCamInit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 90vw;
    min-height: 95vh;
    text-align: center;
}

button {
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 0.4em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #fb8122;
}

button:focus,
button:focus-visible {
    outline: 2px solid black;
    outline-offset: -2px;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-weight: 700;
}


.media {
    height: auto;
    max-height: 20em;
    width: auto;
    max-width: 100%;
}


.mediaDiv {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-height: 100%;
    padding: 10px;
    border: 1px dashed #fb8122;
    border-radius: 5px;
}

.text {
    color: #fb8122;
}

@media (max-width: 640px) {
    .afterCamInit {
        flex-direction: column;
    }

    .mediaDiv {
        width: 80%;
    }
}

@media (min-width: 640px) {
    #content {
        max-height: 85vh;
    }
}